---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
  {% if post.categories contains 'journal' %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

      <!-- Remove Excerpts for Journal Entries 
      <div class="entry">
        {{ post.excerpt }}
      </div>
      -->     

      <!-- Remove Read More Text b/c we can just click date instead
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      -->
    </article>
  {% endif %}
  {% endfor %}
</div>
